<p id="notice"><%= notice %></p>

<p>
  <strong>Award:</strong>
  <%= @supplement.award_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supplement.name %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @supplement.unit_cost %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @supplement.quantity %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @supplement.total_cost %>
</p>

<%= link_to 'Edit', edit_supplement_path(@supplement) %> |
<%= link_to 'Back', supplements_path %>
