<%= bootstrap_form_for(@referral) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_field :advocate_email %>
    <%= f.text_field :referring_physician_id %>
    <%= f.text_field :prefix %>
    <%= f.text_field :firstname %>
    <%= f.text_field :middlename %>
    <%= f.text_field :lastname %>
    <%= f.text_field :address %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
    <%= f.text_field :home_phone %>
    <%= f.text_field :work_phone %>
    <%= f.text_field :contact_name %>
    <%= f.text_field :contact_phone %>
    <%= f.text_field :id_num %>
    <%= f.text_field :date_of_birth %>
    <%= f.radio_button :gender, "Male", label: "Male" %>
    <%= f.radio_button :gender, "Female", label: "Female" %>
    <%= f.check_box :married %>
    <%= f.text_field :employed %>
    <%= f.check_box :citizen %>
    <%= f.text_field :household_size %>
    <%= f.text_field :income %>
    <%= f.text_field :income_sources %>
  </div>
  

  <div class="form-actions">
    <% submit_text = (params[:action] == 'create') ? "Add Drug Information" : "Update" %>
    <%= f.submit submit_text, :class => "btn btn-danger" %>
  </div>
<% end %>
