<%= bootstrap_form_for(@transport) do |f| %>
  <%= hidden_field_tag "rate_holder", @milage_rate %>
  <div id="transport_form">
    <div class="form-inputs col-xs-12 ref_med_form">
      <%#= f.hidden_field :award_id %>
      <%= f.text_field :number_of_miles, :label => "Miles" %>
      <%= f.text_field :cost_per_mile, :label => "$ / Mile", :value => @milage_rate, :onblur => 'calcTotal(this)' %>
      <%= f.text_field :number_trips, :label => "Trips", :onblur => 'newTransport(this)' %>
      <div class="form-group">
        <label for="total" class="control-label">Total</label>
        <span id="total" class="form-control"></span>
      </div>
      <%= f.hidden_field :ui_id, :value => 0 %>
    </div>
  </div>

  <!--<div class="form-actions">
    <%#= f.submit :submit %>
  </div>-->
<% end %>

<script>
sObj = new Array();
function newTransport(e){
    var p = $(e).parent().parent();
    var data = {};
    data.transport = {};
    data.transport.number_of_miles = p.find("#transport_number_of_miles").val();
    data.transport.cost_per_mile = p.find("#transport_cost_per_mile").val();
    data.transport.number_trips = p.find("#transport_number_trips").val();

    p.find("#total").html(((parseFloat(data.transport.number_of_miles) * parseFloat(data.transport.cost_per_mile)) * (data.transport.number_trips) * 2).toFixed(2));

    data.transport.id = (p.find("#transport_id").val() != "") ? p.find("#transport_id").val() : undefined;
    sObj.push(data);
      var inputs = $("#transport_form .form-inputs:last").clone();
      $("#transport_form .form-inputs:last #transport_number_trips").removeAttr("onblur");
      $("<img/>",{
        "src": "/images/removeRow.png",
        "class": "remove_row",
        "onclick": "removeRow(this)"
      }).appendTo("#transport_form .form-inputs:last");
      $("#transport_form .form-inputs:last #transport_id").val(data.id);
      inputs.find("input").each(function(){ $(this).val(""); });
      inputs.find("span").html("");
      inputs.find("input#transport_ui_id").val(sObj.length);
      inputs.find("input#transport_cost_per_mile").val($("#rate_holder").val());
      inputs.find("label").hide();
      inputs.appendTo("#transport_form");
  }
  function removeRow(e){
    var r = $(e).parent().remove();
    var i = r.find("input#transport_ui_id").val();
    delete sObj[i];
    if(!$("#transport_form .form-inputs:first label").is(":visible")){
      $("#transport_form .form-inputs:first label").show();
    }
  }
  </script>