<%= bootstrap_form_for(@award) do |f| %>

  <div class="form-inputs">
    <span class="award_types">
      <%= f.radio_button :award_type, "1", label: "Transporation", :onclick => "showAwardTypeForm(1)" %>
      <%= f.radio_button :award_type, "2", label: "Medication - Symptom Control Only", :onclick => "showAwardTypeForm(2)" %>
      <%= f.radio_button :award_type, "3", label: "Medical Equipment", :onclick => "showAwardTypeForm(3)" %>
      <%= f.radio_button :award_type, "4", label: "Nutritional Supplements", :onclick => "showAwardTypeForm(4)" %>
      <%#= f.radio_button :award_type, "5", label: "Other", :onclick => "showAwardTypeForm(5)" %>
    </span>
    <div id="award_type_div"></div>
    <div style="clear:both;"></div>
    <%= f.text_area :description %>
    <%= f.text_field :vendor, label: "Preferred Vendor" %>
    <%= f.text_field :total_requested %>
    <%= f.text_field :total_granted %>
    
  </div>

  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>

<script>
  function showAwardTypeForm(type){
    $.get("/get_award_form/"+type, function(data){
      $("#award_type_div").html(data);
    });
  } 
</script>