<%= bootstrap_form_for(@device) do |f| %>
  <div id="device_form" class="award_subtype_form">
    <div class="form-inputs col-xs-12 ref_med_form">
      <%= f.hidden_field :award_id %>
      <%= f.text_field :name, :label => "Name" %>
      <%= f.text_field :device_type, :label => "Type" %>
      <%= f.text_field :unit_cost, :label => "Unit $" %>
      <%= f.text_field :quantity, :label => "Qty.", :onblur => 'calcTotal(this)' %>
      <%= f.text_field :total_cost, :label => "Total", :class => "item_total_field" %>
      <%= f.hidden_field :ui_id, :value => 0 %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update", :class => "btn btn-danger" %> <%= link_to "Cancel", :back %>
  </div>
  </div>
<% end %>

<script>
sObj = new Array();
function calcTotal(e){
  var p = $(e).parent().parent();
  var price = parseFloat(p.find("#device_unit_cost").val());
  var qty = parseInt(p.find("#device_quantity").val());
  p.find("#device_total_cost").val((price * qty).toFixed(2));
}
function newDrug(e){
    var p = $(e).parent().parent();
    var data = {};
    data.device = {};
    data.device.name = p.find("#device_name").val();
    data.device.device_type = p.find("#device_device_type").val();
    data.device.unit_cost = p.find("#device_unit_cost").val();
    data.device.quantity = p.find("#device_quantity").val();
    data.device.total_cost = p.find("#device_total_cost").val();
    data.device.id = (p.find("#device_id").val() != "") ? p.find("#device_id").val() : undefined;
    sObj.push(data);
      var inputs = $("#device_form .form-inputs:last").clone();
      $("#device_form .form-inputs:last #device_total_cost").removeAttr("onblur");
      $("<img/>",{
        "src": "/images/removeRow.png",
        "class": "remove_row",
        "onclick": "removeRow(this)"
      }).appendTo("#device_form .form-inputs:last");
      $("#device_form .form-inputs:last #device_id").val(data.id);
      inputs.find("input").each(function(){ $(this).val(""); });
      inputs.find("input#device_ui_id").val(sObj.length);
      inputs.find("label").hide();
      inputs.appendTo("#device_form");
  }
  function removeRow(e){
    var r = $(e).parent().remove();
    var i = r.find("input#device_ui_id").val();
    delete sObj[i];
    updateTotal();
    if(!$("#device_form .form-inputs:first label").is(":visible")){
      $("#device_form .form-inputs:first label").show();
    }
  }
  </script>
