
<%= bootstrap_form_for(@medication) do |f| %>
  <div id="medication_form" class="award_subtype_form">
    <div class="form-inputs col-xs-12 ref_med_form">
      <%= f.hidden_field :award_id %>
      <%= f.text_field :name, :label => "Name" %>
      <%= f.text_field :unit_cost, :label => "Unit $" %>
      <%= f.text_field :quantity, :label => "Qty.", :onblur => 'calcTotal(this)' %>
      <%= f.text_field :total_cost, :label => "Total", :onblur => 'newDrug(this)', :class => "item_total_field" %>
      <%= f.hidden_field :ui_id, :value => 0 %>
    </div>
  </div>
<% end %>

<script>
sObj = new Array();
function calcTotal(e){
  var p = $(e).parent().parent();
  var price = parseFloat(p.find("#medication_unit_cost").val());
  var qty = parseInt(p.find("#medication_quantity").val());
  p.find("#medication_total_cost").val((price * qty).toFixed(2));
  var current_total = parseFloat($("#award_total_requested").val());
}
function newDrug(e){
    var p = $(e).parent().parent();
    var data = {};
    data.medication = {};
    data.medication.name = p.find("#medication_name").val();
    data.medication.unit_cost = p.find("#medication_unit_cost").val();
    data.medication.quantity = p.find("#medication_quantity").val();
    data.medication.total_cost = p.find("#medication_total_cost").val();
    data.medication.id = (p.find("#medication_id").val() != "") ? p.find("#medication_id").val() : undefined;
    sObj.push(data);
    var inputs = $("#medication_form .form-inputs:last").clone();
    $("#medication_form .form-inputs:last #medication_total_cost").removeAttr("onblur");
    $("<img/>",{
      "src": "/images/removeRow.png",
      "class": "remove_row",
      "onclick": "removeRow(this)"
    }).appendTo("#medication_form .form-inputs:last");
    $("#medication_form .form-inputs:last #medication_id").val(data.id);
    inputs.find("input").each(function(){ $(this).val(""); });
    inputs.find("input#medication_ui_id").val(sObj.length);
    inputs.find("label").hide();
    inputs.appendTo("#medication_form");
  }
  function removeRow(e){
    var r = $(e).parent().remove();
    var i = r.find("input#medication_ui_id").val();
    delete sObj[i];
    updateTotal();
    if(!$("#medication_form .form-inputs:first label").is(":visible")){
      $("#medication_form .form-inputs:first label").show();
    }
  }
  </script>
<!--
<%#= simple_form_for(@medication) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :award_id %>
    <%#= f.input :id_number %>
    <%#= f.input :name %>
    <%#= f.input :unit_cost %>
    <%#= f.input :quantity %>
    <%#= f.input :total_cost %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<%# end %>
-->


    
    
    
    
    
    