
<section id="internal-page" class="col-xs-10">

<h1>Payments</h1>
<form>
  <%= select_tag "query", options_for_select(@vendors, @query), :style => "height:30px;" %>
  <%= text_field_tag "start_date", @display_start_date, {:class => "datepicker", :placeholder => "Start Date"} %>
  <%= text_field_tag "end_date", @display_end_date, {:class => "datepicker", :placeholder => "End Date"} %>
  <input type="submit" class="btn btn-primary" value="Search">
  <%= link_to "Clear", awards_path, :class => "btn btn-warning" %>
  <div id="search_type_group" class="btn-group pull-right">
    <button type="button" class="btn btn-info<%= " btn-primary" if @unpaid %>" data-value="unpaid">Show Unpaid</button>
    <button type="button" class="btn btn-info<%= " btn-primary" if !@unpaid %>" data-value="all">Show All</button>
  </div>
  <input id="search_type" type="hidden" name="search_type" value="unpaid"/>
</form>
<% if @awards.present? %>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Date Of Service</th>
      <th>Award type</th>
      <th>Vendor</th>
      <th>Item</th>
      <th>Patient Name</th>
      <th>Qty.</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @awards.each do |award| %>
    <% award.get_sub_awards.each do |item| %>
      <% if !@unpaid || !item.paid %>
        <tr>
          <td class="funds_status">
            <% status_text = (item.paid) ? "Paid" : "Unpaid" %>
            <% status_class = (item.paid) ? "btn-success" : "btn-danger" %>
            <span class='paid_status btn <%= status_class %>'><%= status_text %></span>
          </td>
          <td style="vertical-align: middle;"><%= award.date_of_service.to_formatted_s(:ld) %></td>
          <td style="vertical-align: middle;"><%= award.award_type_text %></td>
          <td style="vertical-align: middle;"><%= award.vendor %></td>
          <td style="vertical-align: middle;"><%= item.name %></td>
          <td style="vertical-align: middle;"><%= award.patient.name %></td>
          <td style="vertical-align: middle;"><%= item.quantity %></td>
          <td style="vertical-align: middle;"><%= number_to_currency(item.total_cost) %></td>
          <td style="vertical-align: middle;">
            <strong>Paid</strong> 
          <% unless item.paid? %>
              :&nbsp;<%= check_box_tag "paid", item.id, false, :class => "paid_checkbox","data-type" => item.class.name %>
         <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No Results Found</p>
<% end %>
<script>
$(function(){
        $( ".datepicker" ).datepicker({
            dateFormat: "yy-mm-dd",
            showOptions: { direction: "down" }
            //changeYear: true,
            //yearRange: "1930:2014" 
        });
        $("#search_type_group button").click(function(){
          var p = $(this).parent();
          p.find("button").removeClass("btn-primary").addClass("btn-info");
          $(this).addClass("btn-primary");
          $("#search_type").val(this.dataset.value);
          p.parent().find("input[type='submit']").click();
        });
        $(".paid_checkbox").change(function(){
          var me = this;
          $.get("/set_paid/"+$(me).data("type")+"/"+$(me).val(), null, function(data){
            var p = $(me).parent();
            //$(me).remove();
            //$("<span/>", { html: "Paid"}).appendTo(p);
            p.html("<strong>Paid</strong>");
            p.parent().find("td.funds_status span.paid_status").removeClass('btn-danger').addClass('btn-success').html('Paid');
          },"json");
        });
    });
</script>