<% subs.each do |sub| %>
      <tr>
        <td class="sub_award">&nbsp;</td>
        <td class="sub_award"><strong>Miles: </strong><%= sub.number_of_miles %></td>
        <td class="sub_award"><strong>$ Per Mile: </strong><%= sub.cost_per_mile %></td>
        <td class="sub_award"><strong>Round Trips: </strong><%= sub.number_trips %></td>
        <td class="sub_award"><strong>Total: </strong><%= sub.total_cost %></td>
        <td class="sub_award">&nbsp;</td>
        <td class="sub_award">
	        <strong>Paid: </strong> 
          <% unless sub.paid? %>
		        <%= check_box_tag "paid", sub.id, false, :class => "paid_checkbox","data-type" => sub.class.name %>
			    <% else %>
			       <span><strong>Paid</strong></span>
			   <% end %>
		    </td>
      </tr>
<% end %>