<p id="notice"><%= notice %></p>

<div class="col-xs-12 patient_detail">
  <div class="col-md-6 col-xs-12">
    <h3>
    <%= @patient.name %>
    <a href="<%= print_patient_path(@patient) %>" title="Print patient"><i class="icon-print"></i></a>
    <a href="<%= edit_patient_path(@patient) %>" title="Edit patient"><i class="icon-edit"></i></a>
    <a href="javascript:confirm('Are you sure?')" title="Remove patient"><i class="icon-cancel-circled"></i></a>
    <a href="<%= new_award_path %>" title="Add New Award"><i class="icon-plus-circled"></i></a>
    </h3>
    <strong>Date of Birth:</strong> <%= @patient.birthday.to_formatted_s(:dob) %><br/>
    <strong>Advocate:</strong> <%= @patient.advocate_name %><br/>
    <strong>Advocate Email:</strong> <%= mail_to @patient.advocate_email %><br/>
    
    <strong>Address:</strong>
    <div class="address_div">
      <%= @patient.address1 %><br/>
      <% if @patient.address2.present? %>
        <%= @patient.address2 %><br/>
      <% end %>
      <%= "#{@patient.city}, #{@patient.state}  #{@patient.zip}" %>
    </div><br/>
    <strong>Home phone:</strong> <%= @patient.home_phone %><br/>
    <strong>Work phone:</strong> <%= @patient.work_phone %><br/>
  </div>
  <div class="col-md-6 col-xs-12" id="quotas">
  <h3>&nbsp;</h3>
  <h5>Current Quotas</h5>
    <p><strong>LifeTime:  </strong><span id="life"><%= number_to_currency(@patient.lifetime_total) %></span></p>
    <p><strong>Year To Date:  </strong><span id="year"><%= number_to_currency(@patient.funds_this_year) %></span></p>
    <p><strong>Current Quarter:  </strong><span id="quarter"><%= number_to_currency(@patient.funds_this_quarter) %></span></p>
  </div>
</div>

<div class="col-xs-12 patient_detail">
<hr/>
<h3 style="margin: 0px 20px;" class="pull-left">Awards</h3>
<ul class="list-inline jump-buttons">
<% @awards.each do |key, at| %>
  <li><%= link_to at.first.award_type_text, "##{key}", :class => "btn btn-primary" %></li>
<% end %>
</ul>
<div class="clearfix"></div>
<% @awards.each do |key, at| %>
<a name="<%= key %>"></a><h5 class="push-down"><%= at.first.award_type_text %><%= link_to "", pdf_print_path(id: @patient.id, aType: at.first.award_type, format: :pdf), {:class => "btn btn-primary glyphicon glyphicon-file pdf_link"} %></h5>
<table class="table">
  <thead>
    <th></th>
    <th>Type</th>
    <th>Date Of Service</th>
    <th>Vendor</th>
    <th>Total Granted</th>
    <th>Funds Used</th>
    <th>Funds Remaining</th>
    <th></th>
  </thead>
  <tbody>
    <% at.each do |a| %>
      <tr id="<%= a.id %>" class="award_<%= a.id %>">
        <td class="funds_status" rowspan="2">
          <% status_text = (a.paid?) ? "Paid" : "Unpaid" %>
          <% status_class = (a.paid?) ? "btn-success" : "btn-danger" %>
          <span class='paid_status btn <%= status_class %>'><%= status_text %></span>
          <% approval_text = (a.approved?) ? "Approved" : "Not Approved" %>
          <% approval_class = (a.approved?) ? "btn-success" : "btn-danger" %>
          <span class='approved_status btn <%= approval_class %>'><%= approval_text %></span>
        </td>
        <td><%= a.award_type_text %></td>
        <td><%= a.date_of_service.to_formatted_s(:ld) %></td>
        <td><%= a.vendor %></td>
        <td><%= number_to_currency(a.total_granted) %></td>
        <td class="funds_used"><%= number_to_currency(a.funds_used) %></td>
        <td class="funds_remaining"><%= number_to_currency(a.funds_remaining) %></td>
        <td>
          <% if @isAdmin %>
            <a href="#" title="Approve Award" class="approve_award" data-value="<%= a.id %>"><i class="icon-ok-circled"></i></a>
            <a href="<%= edit_award_path(a) %>" title="Edit Award" class="edit_award" data-value="<%= a.id %>"><i class="icon-edit"></i></a>  
          <% end %>
          <a href="#" title="Remove Award" class="remove_award" data-value="<%= a.id %>"><i class="icon-cancel-circled"></i></a>
        </td>
      </tr>
      <%= render :partial => a.get_sub_partial_name, :locals => { :subs => a.get_sub_awards, :show_paid => true, :is_admin => true} %>
      <%= render :partial => 'approvals_list', :locals => { :award => a } %>
    <% end %>
  </tbody>
</table>
<hr/>
<% end %>
</div>
<script>
  $(document).ready(function(){
    $(".paid_checkbox").change(function(){
      var me = this;
      $.get("/set_paid/"+$(me).data("type")+"/"+$(me).val(), null, function(data){
        var p = $(me).parent();
        $(me).remove();
        var d = new Date(data.app_sent);
        $("<span/>", { html: "Paid"}).appendTo(p);
        $("tr#"+data.id).find("td.funds_used, td.funds_remaining").addClass("blink");
        $("tr#"+data.id).find("td.funds_used").html(data.funds_used);
        $("tr#"+data.id).find("td.funds_remaining").html(data.funds_remaining);
        $("tr#"+data.id).find("td.funds_used, td.funds_remaining").removeClass("blink");
        if(data.funds_remaining == 0)
          $("tr#"+data.id).find("td.funds_status span.paid_status").removeClass('btn-danger').addClass('btn-success').html('Paid');
        $("#quotas #life").html("$"+data.lifetime.toFixed(2));
        $("#quotas #year").html("$"+data.year.toFixed(2));
        $("#quotas #quarter").html("$"+data.quarter.toFixed(2));

      },"json");
    });

    $(".remove_award").click(function(){
      var me = this;
      var id = me.dataset.value;
      var b = confirm("Are your sure you want to remove this Patient Award?\n This Action cannot be undone!");
      if(b){
        $.ajax({
          url: "/awards/"+id+".json",
          type: 'DELETE',
          success: function(data){
            /*$(".award_"+data.award.id).remove();
            $("#quotas #life").html("$"+data.lifetime.toFixed(2));
            $("#quotas #year").html("$"+data.year.toFixed(2));
            $("#quotas #quarter").html("$"+data.quarter.toFixed(2));*/
            window.location.reload(true);
          }
        });
      }
    });
    $(".approve_award").click(function(){
      var me = this;
      var id = me.dataset.value;
      var b = confirm("Are your sure you want to approve this Patient Award?");
      if(b){
        $.ajax({
          url: "/awards/"+id+"/approve_admin",
          type: 'POST',
          success: function(data){
            window.location.reload(true);
          }
        });
      }
    });

  });
</script>
<div class="clear"></div>
