<h1>Listing ref_pysicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ref_pysicians.each do |ref_pysician| %>
      <tr>
        <td><%= ref_pysician.name %></td>
        <td><%= link_to 'Show', ref_pysician %></td>
        <td><%= link_to 'Edit', edit_ref_pysician_path(ref_pysician) %></td>
        <td><%= link_to 'Destroy', ref_pysician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref pysician', new_ref_pysician_path %>
