<%= bootstrap_form_for(@transport) do |f| %>
  <%= hidden_field_tag "rate_holder", @milage_rate %>
  <div id="transport_form">
    <div class="form-inputs col-xs-12 ref_med_form">
      <%#= f.hidden_field :award_id %>
      <%= f.text_field :number_of_miles, :label => "Miles" %>
      <%= f.text_field :cost_per_mile, :label => "$ / Mile", :value => @milage_rate, :onblur => 'calcTotal(this)' %>
      <%= f.text_field :number_trips, :label => "Trips", :onblur => 'newTransport(this)' %>
      <%= f.hidden_field :id %>
    </div>
  </div>

  <!--<div class="form-actions">
    <%#= f.submit :submit %>
  </div>-->
<% end %>

<script>
function newTransport(e){
    var p = $(e).parent().parent();
    var data = {};
    data.transport = {};
    data.transport.number_of_miles = p.find("#transport_number_of_miles").val();
    data.transport.cost_per_mile = p.find("#transport_cost_per_mile").val();
    data.transport.number_trips = p.find("#transport_number_trips").val();
    data.transport.id = (p.find("#transport_id").val() != "") ? p.find("#transport_id").val() : undefined;
    $.post("/transports", data, function(data){
      var inputs = $("#transport_form .form-inputs:last").clone();
      $("#transport_form .form-inputs:last #transport_number_trips").removeAttr("onblur");
      $("<img/>",{
        "src": "/images/removeRow.png",
        "class": "remove_row",
        "onclick": "removeRow(this)"
      }).appendTo("#transport_form .form-inputs:last");
      $("#transport_form .form-inputs:last #transport_id").val(data.id);
      inputs.find("input").each(function(){ $(this).val(""); });
      inputs.find("input#transport_cost_per_mile").val($("#rate_holder").val());
      inputs.find("label").hide();
      inputs.appendTo("#transport_form");
    }, "json");
  }
  function removeRow(e){
    $(e).parent().remove();
    if(!$("#transport_form .form-inputs:first label").is(":visible")){
      $("#transport_form .form-inputs:first label").show();
    }
  }
  </script>