<%= bootstrap_form_for(@patient) do |f| %>

  <div class="form-inputs">
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :middle_name %>
    <%= f.text_field :birthday %>
    <%= f.text_field :address1 %>
    <%= f.text_field :address2 %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
    <%= f.text_field :home_phone %>
    <%= f.text_field :work_phone %>
    <%= f.text_field :diagnosis %>
    <%= f.check_box :diagnosis_confirmed %>
    <%= f.check_box :low_income %>
    <%= f.text_field :income_sources %>
    <%= f.text_field :advocate_firstname %>
    <%= f.text_field :advocate_lastname %>
    <%= f.text_field :advocate_phone %>
    <%= f.text_field :advocate_email %>
  </div>

  <div class="form-actions">
    <% submit_text = (params[:action] == 'new') ? "Add Award Information" : "Update" %>
    <%= f.submit submit_text, :class => "btn btn-danger" %>
  </div>
<% end %>
