<table class="table">
<tr>
	<th>Patient Name</th>
	<th>Type</th>
	<th>Total Requested</th>
	<th>Total Granted</th>
	<th>Date Of Service</th>
	<th>Created On</th>
</tr>
<% @awards.each do |a| %>
	<tr>
		<td><%= a.patient.name %></td>
		<td><%= a.award_type_text %></td>
		<td><%= number_to_currency(a.total_requested) %></td>
		<td><%= number_to_currency(a.total_granted) %></td>
		<td><%= a.date_of_service.to_formatted_s(:ld) %></td>
		<td><%= a.created_at.to_formatted_s(:ld) %></td>
	</tr>
<% end %>
	<tr>
		<td><strong>Totals:</strong></td>
		<td><strong><%= "#{@awards.length} found"%></strong></td>
		<td><strong><%= number_to_currency(@sum) %></strong></td>
		<td><strong><%= number_to_currency(@sum) %></strong></td>
		<td></td>
		<td></td>
	</tr>
</table>
