<section id="team5" class="pt40 pb40">
	<a name="team"></a>
	<div class="container">
		<div class="row"> 

			<div class="col-md-12 mb40 text-center">
				<h1>Meet our team</h1>
				<h2 class="subTitle"></h2>
			</div>
			<section class="col-md-12">
				<div class="row mb15">
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInLeft" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>John Sparks</h3>
								<p>Executive Director</p>
								<p>
								<%= mail_to 'john.sparks@sgpfh.org' %><br/>
								229-245-0020 ext 500
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInUp" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Carol Morgan</h3>
								<p>Patient Services</p>
								<p>
								<%= mail_to '​carol.morgan@sgpfh.org' %><br/>
								229-245-0020 ext 508
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInDown" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Kelsey Collins</h3>
								<p>​Administrative Assistant</p>
								<p>
								<%= mail_to 'info@sgpfh.org' %><br/>
								229-245-0020 ext 505
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Retha Pavey</h3>
								<p>Administrative Assistant</p>
								<p>
								<%= mail_to 'info@sgpfh.org' %><br/>
								229-245-0020 ext 504
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Nancy Dickinson</h3>
								<p>Pharmacy Assistance</p>
								<p>
								<%= mail_to '​nancy.dickinson@sgpfh.org' %><br/>
								229-245-0020 ext 507
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Dr. Seth Berl</h3>
								<p>Internist</p>
								<p>
								<%= mail_to 'info@sgpfh.org' %><br/>
								229-245-0020 ext 505
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>Alan Powell</h3>
								<p>Disease Management</p>
								<p>
								<%= mail_to 'alan.powell@sgpfh.org' %><br/>
								229-245-0020 ext 501
							</div>
						</article>
					</div>
					<!--<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div class="boxContent text-center">
								<h3>John Sparks</h3>
								<p>Executive Director</p>
								<p>
								<%= mail_to 'john.sparks@sgpfh.org' %><br/>
								229-245-0020 ext 500
							</div>
						</article>
					</div>-->
				</div>
			</section>
		</div>
	</div>
</section>